body 
{
	text-align : center;
}

div 
{
	margin : 0% 12.5% 2em;
	width : 75%;
	text-align : center;
}

table 
{
	width : 100%;
	text-align : center;
	border-collapse : collapse;
}

table.match
{
	border : solid;
	border-color :  #f7f7ed;
	background-color : #d8d8d8;
}

tr.match
{
	font-size : 1.5em;
	font-weight : bold;
	line-height : 1.5em;
	text-align : center;
	width : 100%;
}

td.match-date
{
	border-right-style : solid;
	border-color :  #f7f7ed;
	width : 32%;
}
td.match_date_centre
{
	border-right-style : solid;
	border-color :  #f7f7ed;
	background-color : #eeeeee;
	width : 32%;
}

td.match
{
	width : 16%;
}
td.match_centre
{
	background-color : #eeeeee;
	width : 16%;
}

td.match-droit
{
	border-right-style : solid;
	border-color :  #f7f7ed;
	width : 16%;
}
td.match_droit_centre
{
	border-right-style : solid;
	border-color :  #f7f7ed;
	background-color : #eeeeee;
	width : 16%;
}

td.tiret
{
	width : 1%
}
td.tiret_centre
{
	background-color : #eeeeee;
	width : 1%
}


td.bouton_arriere
{
	cursor : pointer;
	font-size : 0.75em;
	border-right-style : solid;
	border-color :  #f7f7ed;
	background-color : #9b9b9b;
	width : 2%;
}
td.bouton_avant
{
	cursor : pointer;
	font-size : 0.75em;
	border-right-style : solid;
	border-color :  #f7f7ed;
	background-color : #9b9b9b;
	width : 2%;
}

tr.convocation
{
	width : 100%;
}
td.convocation
{
	font-size : 1.5em;
	text-align : center;
	border : solid;
}
td.image
{
	font-size : 1.5em;
	text-align : center;
	border : solid;
	width : 8%;
}

img.pdf
{
	width : 60%;
}

#barre
{
	background :  #dadad2;
	border-radius : 10px;
	border : solid;
	border-color : grey;
	padding : 10px;
}

#titre
{
	font-size : 2.5em;
	font-weight : bold;
	text-decoration : underline;
	margin : 0 0 0.5em
}

#login
{
	text-align : right;
}

	
