<p id="titre">CONVOCATIONS</p>		

		<table>
			<tr class="convocation">
				<td class="convocation">
					20-02-2021
				</td>
				<td class="convocation">
					Coupe régionale - Martigné VS Segré
				</td>
				<td class="image">
					<img class="pdf" src="../images/pdf.png">
				</td>
			</tr>
			<tr class="convocation">
				<td class="convocation">
					14-03-2021
				</td>
				<td class="convocation">
					Coupe de France - Angers VS Saumur
				</td>
				<td class="image">
					<img class="pdf" src="pdf.png">
				</td>
			</tr>
			<tr class="convocation">
				<td class="convocation">
					26-06-2021
				</td>
				<td class="convocation">
					Coupe départementale - Avrillé VS Briollay
				</td>
				<td class="image">
					<img class="pdf" src="pdf.png">
				</td>
			</tr>
		</table>
