<form method="post">
	<fieldset>
	<legend>Enregistrer un nouveau joueur</legend>

	<label>Nom :</label>
	<input type="text" name="nom_ajout"><br>

	<label>Prénom :</label>
	<input type="text" name="prenom_ajout"><br>

	<label>Licence :</label>
	<select name="licence_ajout">
		<option value="">-- Choisissez une licence --</option>
		<option value="Libre">Libre</option>
		<option value="Libre">Futsal</option>
		<option value="Libre">Entreprise</option>
		<option value="Libre">Loisir</option>
	</select><br>

        <button name="eff" type="submit" value="Enregistrer">Enregistrer</button>
        <button name="eff" type="submit" value="Supprimer">Supprimer</button>

	</fieldset>
</form>